.fp-landing{
    // height: 100vh;
    // background: url('../../public/assets/bg.png');
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    #center-search-bar{
        background-color: #f8fafc;
    }
}
